header {
  margin:-10px;
  color: teal;
  font-size:250%;
  font-family: "headFont";
  height: 85vh;
  background-image: url("img/apples.jpeg");
  background-size: cover;
  background-blend-mode: color-dodge;
  background-position: center;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

p {
  font-family: "bodyFont";
  width: 800px;
  margin: 0 auto 20px;
}

@font-face{
  font-family: "bodyFont";
  src: url("fonts/Rounded_Elegance.ttf")
}

@font-face{
  font-family: "headFont";
  font-weight: bold;
  src: url("fonts/VAL.otf");
}
