header {
  margin:-10px;
  color: teal;
  font-size:250%;
  font-family: "headFont";
  height: 85vh;
  background-image: url("img/apples.jpeg");
  background-size: cover;
  background-blend-mode: color-dodge;
  background-position: center;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

p {
  font-family: "bodyFont";
  width: 800px;
  margin: 0 auto 20px;
}

nav {
  padding: 50px;
  text-align: center;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #ddd;
  border-radius: 5px;
}
nav > ul > li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
nav > ul > li:hover {
  background: #d5d5d5;
  border-radius: 5px;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  background: #666;
  color: rgba(255, 255, 255, 0.7);
}
ul.drop-menu li:hover {
  background: #606060;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

@font-face{
  font-family: "bodyFont";
  src: url("fonts/Rounded_Elegance.ttf")
}

@font-face{
  font-family: "headFont";
  font-weight: bold;
  src: url("fonts/VAL.otf");
}
